body{
    background-color: rgb(224, 233, 206);
}
#me, p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px
}
b{
    font-family: cursive;
}
h3{
    font-style: italic;
    font-size: 30px;
    text-decoration: underline;
}
.lista{
    font-size: 30px;
}
.lista li img{
    width: 30px;
    height: 30px;
}
div img, a img{
    width: 150px;
}
.menu{
    font-size: 30px;
}