body{
    background-color: rgb(224, 233, 206);
}
#me, p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px
}
b{
    font-family: cursive;
}
h3{
    font-style: italic;
    font-size: 30px;
    text-decoration: underline;
}
.lista{
    font-size: 30px;
}
a img{
    width: 200px;
    height: 50px;
    display: inline-block;
}