body{
    background-color: black;
}

.meu-nome{
    position: absolute;
    top: 1px;
    left: 27%;
    font-size: 40px;
    color: white;
}

.principal{
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1;
}

h3{
    text-align: center;
    color: white;
}

li{
    color: white;
}

img{
    color: white;
}


p.apresentacao{
    position: absolute;
    top: 50px;
    left: 280px;
    width: 900px;
    z-index: 2;
    font-size: 27px;
    color: white;
    font-family: monospace;
}

div.fundamentos{
    position: absolute;
    border: 1px solid black;
    width: 250px;
    height: 450px;
    top: 400px;
    left: 400px;
    border-width:medium;
    border-color: yellow;
}
div.front-end{
    position: absolute;
    border: 1px solid black;
    width: 250px;
    height: 450px;
    top: 400px;
    left: 700px;
    border-width:medium;
    border-color: yellow;
}
div.redes-sociais{
    position: absolute;
    border: 1px solid black;
    width: 50px;
    height: 450px;
    top: 400px;
    left: 1009px;
    border-width:medium;
    border: 1px solid yellow;
    color: white;
}
div.back-end{
    position: absolute;
    border: 1px solid black;
    width: 250px;
    height: 450px;
    top: 400px;
    left: 1100px;
    border-width:medium;
    border-color: yellow;
}
div.cdc{
    position: absolute;
    border: 1px solid black;
    width: 250px;
    height: 450px;
    top: 400px;
    left: 1400px;
    border-width:medium;
    border-color: yellow;
}
i{
    padding: 45px 0px 0px 0px;
}
