body{
    background-color: rgb(224, 233, 206);
}
#me{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.name{
    font-family: cursive;
}
.circle-image { 
    display: inline block; 
    overflow: hidden; 
    width: 33%; 
    background: 33%; 
    height: 0; 
    position: relative; 
} 
.circle-image img { 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  radius: 50%; 
  object-fit : cover ; 
}